doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hacking your body language for better interviews

    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600', rel='stylesheet', type='text/css')

    // build:css styles/styles.css
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-twilight.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Hacking your body language for better interviews
        br
        h4 Siddhartha Gudipati
        h4
          a(href="http://websiddu.com") @websiddu

      section
        h1 Previously
        h4 on Usability Studies

      section.gif.gif--planning
        h1 Planning

      section.gif.gif--more-planning
        h1 More Planning

      section.gif.gif--prepare.gif--o
        h1 Preperation

      section.gif.gif--war
        h1 Actuall Study

      section.gif.gif--strategy.gif--o
        h1 Stratagy & Tricks

      section.gif.gif--low
        h1 Feeling low

      //- section
      //-   h1 How to find it ?
      //-   ul.bullet
      //-     li
      //-       h2 Avoiding eye contact
      //-     li
      //-       h2 Angling their body away
      //-     li
      //-       h2 Holding something
      //-     li
      //-       h2 Fidgeting
      //-     li
      //-       h2 Touching their face or hair

      //- seciton
      //-   h1 How to find it ?
      //-   ul.bullet
      //-     li
      //-       h2 Crossing their arms or legs
      //-     li
      //-       h2 Asking permission or waiting
      //-     li
      //-       h2 Speaking softly
      //-     li
      //-       h2 Apologizing
      //-     li
      //-       h2 Sitting or standing in a protective


      section.gif.gif--eye
        h1.bullet Avoiding eye contact

      section.gif.gif--away
        h1.bullet Angling their body away

      section.gif.gif--hold.gif--o
        h1.bullet Holding something

      section.gif.gif--fidgeting
        h1.bullet Fidgeting

      section.gif.gif--touch.gif--o
        h1.bullet Touching their face or hair

      section.gif.gif--defence
        h1.bullet Crossing their arms or legs in a defensive or protective posture

      seciton.gif.gif--permission
        h1.bullet Asking permission or waiting for an invitation

      section.gif.gif--soft.gif--o
        h1.bullet Speaking softly

      section.gif.gif--laugh
        h1.bullet Laughing nervously

      section.gif.gif--sorry.gif--o
        h1.bullet Apologizing

      section.gif.gif--posture
        h1.bullet Sitting or standing in a protective

      secion
        h1 Boost status and confidence

      section
        h1 Lower your own status
      section
        ul
          li
            h2 Smile!
          li
            h2 Look interested and attentive
          li
            h2 Ask permission
          li
            h2 Sit lower
          li
            h2 Back up
      section
        ul
          li
            h2 Move back slightly
          li
            h2 Avoid intense, dominant eye contact
          li
            h2 Dress similarly to the people you’re interviewing.
      seciton
        h1 Lower the status of the product or design you’re testing

      seciton
        h1 Reassure and encourage

      seciton
        h1 Be grateful

      seciton
        h1 Monitor for results

      seciton
        h1 Examples

      seciton.gif.gif--e1.gif--o
        h3 Avoid hovering, invading personal space, and taking control of the computer.

      section.gif.gif--e2.gif--o
        h3 Be sure to sit lower, avoid high-status body language, and show the participant you’re curious and interested in what she is saying.

      section.gif.gif--e3.gif--o
        h3 Be sure to smile and build rapport with the person you’re interviewing.

      seciton.gif.gif--e4.gif--o
        h3 Examples of high-status (left) and low-status (right) body language.

      seciton.gif.gif--food

      seciton
        h1

      seciton
        h1 Thanks
        br
        br
        br
        h5 Imagery from
        p https://www.gv.com/lib/how-to-hack-your-body-language-for-better-interviews
        p http://giphy.com/search/game-of-thrones/



    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
